/* ******* HEADER ******* */

.header__root {
  padding: 16px 0px;
  background-color: var(--colors-nav-bg);
  border-bottom: 6px solid var(--colors-nav-border);
  transition: all 450ms ease-out;
  top: -100%;

  &.visible {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.header__wrap__collapse {
  flex-grow: 1;
  border: none;
  cursor: pointer;
  text-align: right;
  background-color: transparent;
}

.header__wrap {
  padding: 24px 0px 16px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  &.visible {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .header__wrap__collapse {
    display: none;
  }

  .header__wrap {
    padding: 0px;
    display: flex;
  }
}

/* ******* NAVIGATION ******* */
.header__wrap__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  text-transform: uppercase;
  justify-content: center;
}

.header__wrap__list > li {
  flex: 1 1 100%;
}
.header__wrap__list > li > a {
  color: var(--colors-nav-text);
  font-weight: var(--weight-bold);
  text-decoration: none;
}

.header__wrap__list > li:last-child {
  background-color: var(--colors-darkBlue);
  padding: 8px 16px;
  border-radius: 4px;
}
.header__wrap__list > li:last-child > a {
  color: var(--colors-white);
}

@media (min-width: 640px) {
  .header__wrap__list > li {
    flex: 1 1 45%;
  }
}

@media (min-width: 1024px) {
  .header__wrap__list > li {
    flex: 1 1 auto;
  }
}




.logo {
  fill: var(--colors-logo);
}
.logo_icon {
  fill: var(--colors-logo-icon);
}
