.testimonials__root{
  padding-top: 48px;
  padding-bottom: 56px;

  @media (min-width: 1280px) {
    padding-bottom: 128px;
  }
}

.testimonials__carousel{
  padding: 24px 0px;
}

.testimony{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .testimony__author,
  .testimony__content {
    flex: 1 1 100%;
    text-align: center;
  }

  .testimony__author {
    padding-bottom: 24px;
    h2 {
      justify-content: center;
      display: flex;
      position: relative;
      padding-bottom: 8px;
    }
    h2:after {
      content: '';
      width: 210px;
      height: 3px;
      position: absolute;
      bottom: 0px;
      background-color: var(--colors-red);
    }
  }

  .testimony__content {
    font-size: 16px;
    font-weight: var(--weight-semiBold);
  }

  @media (min-width: 768px) {
    .testimony__author {
      flex: 1 1 40%;
      padding-right: 32px;
      text-align: right;

      h2 {
        justify-content: flex-end;
      }
    }

    .testimony__content {
      flex: 1 1 60%;
      padding-left: 32px;
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    .testimony__author {
      flex: 1 1 30%;
    }

    .testimony__content {
      line-height: 26px;
      font-size: 18px;
      flex: 1 1 70%;
    }
  }
}

